
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0 ;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif, Helvetica;
    line-height:1.6em;
    font-size: 16px;
}
.container{
    display:grid;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
}
.container .left .wrapper header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.container .left .wrapper .logo img{
    max-width:100px;
}
.container .left .wrapper .logo {
    display:flex;
}
.container .left .wrapper{
    padding:2em 3em;    height:100vh;
}
.container .left .wrapper .logo h1:nth-child(2){
    color:#05a3ff;
}
.container .left .wrapper .logo h1{
    padding-left: 12px;
}
.container .left .wrapper input{
    padding:15px 35px;
    border-radius: 1.8em;
    border:None;
    background:#f4f4f4;

}
.container .left .wrapper .section1{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height :100%;
}
.container .left .wrapper .section1 .class{
    display:flex;
    align-items: center;
}
.container .left .wrapper .section1 .class .type p{
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
}
.container .left .wrapper .section1 .class .type h2{
    color:#05a3ff;
    margin-bottom: 20px;
}
.container .left .wrapper .section1 .class h1{
  writing-mode: sideways-lr;
}
.container .left .wrapper .section1 .class .classification{
    display:grid;
    place-items: center;
    width:100%;
    font-size: 300%;
    /* text-transform: uppercase; */
}
.wrapper2{
      padding:2em 5em;    height:100vh;
}
.wrapper2 header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper2 header ul li{
    list-style:none;
    display: inline-block;
    margin:0 2em;
}
.wrapper2 header ul {
display:flex;
justify-content: space-between;
/* width:100%; */
}
.wrapper2 header ul li a{
  text-decoration:none;
  color:#Fff;
}
.wrapper2 .section1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height :100%;
    padding-left: 2em;;
}
.wrapper2 .section1 .class2 h1{
    font-size: 4em;
    margin-bottom: 30px;
}
.wrapper2 .section1 .class2 p{
    font-size: 1.2em;
    margin-bottom: 30px;
}
.wrapper2 .section1 .class2 input[type='text']{
    background:transparent;
    border: 1px solid #fff;
    padding:10px;
     border-radius: 2em;
     text-align:center;
     width:50px;
}
.wrapper2 .section1 .class2 input[type='submit']{
    border: none;
    padding:15px;
    background:#fff;
    color:rgb(3, 3, 39);
    border-radius: 2em;
    font-weight: bold;
    /* margin-bottom: 10em; */
}
 .wrapper2 .section1 .class2 input[type='text']::placeholder{
color:#Fff;
font-weight: bold;
}
.left{
 background: rgb(2,0,36);
background: rgb(17,15,55);
background: linear-gradient(9deg, rgba(17,15,55,1) 2%, rgba(9,9,121,1) 51%, rgba(19,187,221,1) 100%);
}
.wrapper {
        margin:8em 0 5em 8em;
    background:#fff;
}
.wrapper2{
    color:#fff;
           margin:8em 5em 8em 0;
background: rgb(17,15,55);
background: linear-gradient(84deg, rgba(17,15,55,1) 2%, rgba(9,9,121,1) 51%, rgba(19,187,221,1) 100%);
}
.center{
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-51.5%,-50%)
}